body {
    font-family: "Roboto", sans-serif;
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


  .banner{
    position: absolute;
    float:right;
    left: 50%;
    display: block;
    margin: 80px -200px;
    width: 400px;
    height: 60px;
    border: 1px solid #8a1;
    font: normal 30px/60px 'Rye';
    text-align: center;
    color: #451;
    background: #E3EEB1  ;
  }