body {
    font-family: "Roboto", sans-serif;    
  }

  .banner{
    position: absolute;
    float:right;
    left: 50%;
    display: block;
    margin: 130px -200px;
    width: 400px;
    height: 60px;
    font: normal 30px/60px 'Rye';
    text-align: center;
    color: rgb(0, 0, 0);
    background: #468499;
    border:4px solid black;
  }

  .card-block {
    color: rgb(153, 45, 45);
  }

  #container-fluid {    
	
    font-family: Roboto,sans-serif;
    font-size: 18px;
    border-spacing: 0;
    padding: 0;
    vertical-align: top;
    margin-left: 440px;
    margin-right: auto;
    padding: 8px 8px 7px;
    display:inline-block;
    list-style-type:none;
    min-width:320px;
    width:40%;
    height:270px;
    background-color:#468499;
    border:2px solid black;
    margin-top:30px;
    margin-bottom: 25px;
  }

  /* Collapsible */
  .collapsible {
    background-color: #468499;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border:2px solid black;
    text-align: left;
    outline: none;
    font-size: 20px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  /* ------------------------------------------- */

  

  /* Input fields */
input[type=text], input[type=password] {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Log in button */
#login {
  background-color: #468499;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#login:hover {
  opacity:1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  width: 50%;
  border:4px solid black;
  margin-left: 370px;
  margin-top: 170px;
}